/* GENERAL */
body {
  margin: 0px auto;
  font-family: "roboto", "sans serif";
}
body a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
body h1 {
  font-weight: 700;
  font-size: 24px;
  margin: 0;
}
body h2 {
  font-weight: 700;
  font-size: 18px;
  margin: 0;
}

/* LOADER */
.loader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  opacity: 0.9;
  height: 100vh;
  inset: 0;
  z-index: 1;
  animation: disappear 1s 2s forwards;
}
.loader_dot {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 15px;
  animation: loader infinite 0.3s alternate;
}
.loader_dot-d1 {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
}
.loader_dot-d2 {
  animation-delay: 0.05s;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
}
.loader_dot-d3 {
  animation-delay: 0.1s;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
}

@keyframes disappear {
  to {
    transform: scale(0);
  }
}
@keyframes loader {
  100% {
    transform: translateY(-30px);
  }
}
/* HEADER */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
}
.header_logo {
  width: 197px;
  height: 36px;
  margin: auto;
  padding: 15px 0px 15px 0px;
}

/* LOCATION */
.location_search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  margin-top: 4px;
  background-color: #eaeaea;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.location_search_icon {
  font-size: 16px;
  color: #353535;
  opacity: 1;
  margin-right: 17px;
}
.location_search_imput {
  border: none;
  background-color: #eaeaea;
  height: 40px;
  width: 120px;
}
.location_search_imput::-moz-placeholder {
  font-size: 16px;
  font-weight: 500;
  color: #353535;
  opacity: 1;
}
.location_search_imput::placeholder {
  font-size: 16px;
  font-weight: 500;
  color: #353535;
  opacity: 1;
}

/* EXPLORER */
.explorer {
  text-align: center;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
  padding: 40px 35px 50px 35px;
}
.explorer_title {
  margin-left: 30px;
  margin-right: 30px;
}
.explorer_subtitle {
  font-size: 18px;
  font-weight: 300;
  color: #353535;
  margin-bottom: 30px;
}
.explorer_bouton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 218px;
  border-radius: 25px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  transition: all 500ms;
}
.explorer_bouton:hover {
  filter: brightness(1.1);
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.2509803922);
}

/* FONCTION */
.fonction {
  padding: 50px 20px 50px 20px;
}
@media (min-width: 1100px) {
  .fonction {
    max-width: 1260px;
    margin: auto;
  }
}
.fonction_step {
  padding-left: 10px;
  padding-top: 30px;
}
@media (min-width: 1100px) {
  .fonction_step {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
    padding-left: 0;
  }
}
.fonction_step_card {
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: #f6f6f6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  height: 72px;
  position: relative;
  margin-bottom: 20px;
}
@media (min-width: 1100px) {
  .fonction_step_card {
    width: 30%;
  }
}
.fonction_step_card_number {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  color: white;
  background-color: #9356DC;
  height: 24px;
  width: 24px;
  font-weight: 500;
  font-size: 14px;
  position: absolute;
  left: -10px;
}
.fonction_step_card_icon {
  color: #7e7e7e;
  font-size: 20px;
  position: absolute;
  left: 40px;
}
.fonction_step_card_icon-purple {
  color: #9356DC;
}
.fonction_step_card_subtitle {
  font-size: 16px;
  font-weight: 500;
  margin-left: 80px;
}

/* RESTAURANT */
.restaurant {
  padding: 40px 20px 60px 20px;
  background-color: #f6f6f6;
}
.restaurant_title {
  margin-bottom: 27px;
}
@media (min-width: 1100px) {
  .restaurant_title {
    max-width: 1260px;
    margin: auto;
  }
}
.restaurant_step {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
@media (min-width: 1100px) {
  .restaurant_step {
    max-width: 1260px;
    margin: auto;
    justify-content: space-between;
  }
}
.restaurant_step_card {
  background-color: white;
  border-radius: 15px;
  width: 100%;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
  position: relative;
}
@media (min-width: 1100px) {
  .restaurant_step_card {
    width: 46%;
    margin-top: 30px;
  }
}
.restaurant_step_card_fig {
  margin: 0;
}
.restaurant_step_card_fig_img {
  height: 200px;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
@media (min-width: 1100px) {
  .restaurant_step_card_fig_img {
    height: 280px;
  }
}
.restaurant_step_card_fig_new {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  color: #008766;
  background-color: #99e2d0;
  height: 29px;
  width: 80px;
  position: absolute;
  top: 5%;
  right: 3%;
}
.restaurant_step_card_fig_cardcontent {
  padding: 11px 20px 15px 13px;
}
.restaurant_step_card_fig_cardcontent_txt_subtitle {
  margin-top: 5px;
  margin-bottom: 0;
  font-weight: 300;
  font-size: 17px;
}
.restaurant_step_card_icons {
  position: absolute;
  bottom: 10%;
  right: 8%;
}
.restaurant_step_card_icons input {
  display: none;
}
.restaurant_step_card_icons input:checked ~ .liked {
  display: inline;
  opacity: 1;
}
.restaurant_step_card_icons input:checked ~ .not-liked {
  display: none;
}
.restaurant_step_card_icons_liked {
  position: relative;
  font-size: 26px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}
.restaurant_step_card_icons_liked:hover {
  opacity: 1;
}
.restaurant_step_card_icons_notliked {
  position: absolute;
  font-size: 25px;
}

/* FOOTER */
.footer {
  padding: 22px 25px 15px 25px;
  background-color: #353535;
}
.footer_logo {
  filter: invert(100%);
  width: 139px;
  height: 27px;
}
.footer_list {
  display: flex;
  flex-direction: column;
  gap: 7px;
  list-style: none;
  padding-inline-start: 0;
}
.footer_list_link {
  color: white;
  font-size: 16px;
  font-weight: 500;
}
.footer_list_link_icon {
  margin-right: 10px;
}
.footer_list_link_icon-rotate {
  transform: rotate(135deg);
  font-size: 11px;
  margin-right: 10px;
}/*# sourceMappingURL=style.css.map */