/* GENERAL */

$main-color: #f6f6f6;
$bouton-color: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
$secondary-color: #353535;
$purple-color: #9356DC;
$green-color: #99e2d0;

body {
    margin: 0px auto;
    font-family: 'roboto', 'sans serif';

        a {
            text-decoration: none;
            color: inherit;
            cursor: pointer;
        }

        h1 {
            font-weight: 700;
            font-size: 24px;
            margin: 0;
        }

        h2 {
            font-weight: 700;
            font-size: 18px;
            margin: 0;
        }

        h4 {
            margin: 0;
        }
}


@mixin bouton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 218px;
    border-radius: 25px;
    background: $bouton-color;
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    box-shadow: 0px 4px 10px 0px #00000040;
    transition: all 500ms;

    &:hover {
        filter: brightness(1.1);
        box-shadow: 0px 6px 12px 0px #00000040;
    }
}

@mixin heart {
    
    cursor: pointer;
       
            &_liked {
            position: relative;
            font-size: 26px;
            background: $bouton-color;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            opacity: 0;
            transition: opacity 500ms ease-in-out;

                &:hover {
                    opacity: 1;
                }
            }

            &_notliked {
                    position: absolute;
                    font-size: 26px;
            }
}

/* LOADER */

.loader {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:$main-color;
    height: 100vh;
    inset: 0;
    z-index: 1;
    animation: disappear 1s 2s forwards;

    &_dot {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin: 0 15px;
        animation: loader infinite 0.3s alternate;

        &-d1 {
            background: $bouton-color;
        }

        &-d2 {
            animation-delay: 0.05s;
            background: $bouton-color;
        }

        &-d3 {
            animation-delay: 0.1s;
            background: $bouton-color;
        }
    }
}

@keyframes disappear {
    to {
        transform: scale(0);
    }
}

@keyframes loader {
    100% {
        transform: translateY(-30px);
    }
}

/* HEADER */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px 0px #00000026;

        &_logo {
            width: 197px;
            height: 36px;
            margin: auto;
            padding: 15px 0px 15px 0px;

            @media (min-width: 1024px) {
                padding: 30px 0px 30px 0px;
            }
        }
}

/* LOCATION */

$location-color: #353535;
$location-background-color: #eaeaea;

.location_search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-top: 4px;
    background-color: $location-background-color;
    box-shadow: 0px 4px 4px 0px #00000040;
    
        &_icon {
            font-size: 16px;
            color: $location-color;
            opacity: 1;
            margin-right: 17px;
        }

        &_imput {
            border: none;
            background-color: $location-background-color;
            height: 40px;
            width: 120px;

            &::placeholder {
                font-size: 16px;
                font-weight: 500;
                color: $location-color;
                opacity: 1;
            }
        }
}

/* EXPLORER */

.explorer {
    text-align: center;
    background-color: $main-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4px;
    padding: 40px 35px 50px 35px;

        &_title {
            margin-left: 30px;
            margin-right: 30px;

            @media (min-width: 1024px) {
                font-size: 47px;
            }
        }

        &_subtitle {
            font-size: 18px;
            font-weight: 300;
            color: $secondary-color;
            margin-bottom: 30px
        }

        &_bouton {
            @include bouton;
        }
}

/* FONCTION */

.fonction {
    padding: 50px 20px 50px 20px;

    @media (min-width: 768px) and (max-width: 1024px) {
        max-width: 768px;
        margin: auto;
    }

    @media (min-width: 1024px) {
        max-width: 1080px;
        margin: auto;
    }

        &_step {
            padding-left: 10px;
            padding-top: 30px;

            @media (min-width: 1024px) {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;       
                gap: 30px;
                padding-left: 0;
            }

            &_card {
                display: flex;
                align-items: center;
                border-radius: 20px;
                background-color: #f6f6f6;
                box-shadow: 0px 4px 15px 0px #00000026;
                height: 72px;
                position: relative;
                margin-bottom: 20px;

                @media (min-width: 1024px) {
                    width: 30%;
                }

                &_number {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 24px;
                    color: white;
                    background-color: $purple-color;
                    height: 24px;
                    width: 24px;
                    font-weight: 500;
                    font-size: 14px;
                    position: absolute;
                    left: -10px;
                }

                &_icon {
                    color: #7e7e7e;
                    font-size: 20px;
                    position: absolute;
                    left: 40px;
                }

                &_icon-purple {
                    color: $purple-color;
                }

                &_subtitle {
                    font-size: 16px;
                    font-weight: 500;
                    margin-left: 80px;
                }
            }  
        }
}

/* RESTAURANT */

.restaurant {
    padding: 40px 20px 60px 20px;
    background-color: $main-color;

        &_title {
            margin-bottom: 27px;

            @media (min-width: 768px) and (max-width: 1024px) {
                max-width: 768px;
                margin: auto;
                margin-bottom: 27px;
            }

            @media (min-width: 1024px) {
                max-width: 1080px;
                margin: auto;
            }
        }

        &_step {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;

            @media (min-width: 768px) and (max-width: 1024px) {
                max-width: 768px;
                margin: auto;
            }

            @media (min-width: 1024px) {
                max-width: 1080px;
                margin: auto;
                justify-content: space-between;
            }

            &_card {
                background-color: white;
                border-radius: 15px;
                width: 100%;
                box-shadow: 0px 4px 15px 0px #0000001A;
                position: relative;

                @media (min-width: 1024px) {
                    width: 46%;
                    margin-top: 30px;
                }

                &_fig {
                    margin: 0;

                    &_img {
                        height: 200px;
                        width: 100%;
                        border-top-left-radius: 15px;
                        border-top-right-radius: 15px;
                        object-fit: cover;                      
                    }

                    &_new {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 2px;
                        color: #008766;
                        background-color: #99e2d0;
                        height: 29px;
                        width: 80px;
                        position: absolute;
                        top: 5%;
                        right: 3%;
                    }

                    &_cardcontent {
                        padding: 11px 20px 15px 13px;

                            &_txt_subtitle {
                            margin-top: 5px;
                            margin-bottom: 0;
                            font-weight: 300;
                            font-size: 17px;
                            }
                    }
                }

                &_icons {
                    @include heart;
                    position: absolute;
                    bottom: 10%;
                    right: 8%;
                }
            }
        }
}

/* FOOTER */

.footer {
    padding: 22px 25px 15px 25px;
    background-color: $secondary-color;

    @media (min-width: 1024px) {
        padding-bottom: 40px;
        height: 80px;
    }

    &_content {

    @media (min-width: 1024px) {
        max-width: 1440px;
        margin: auto;
        display: flex;
        justify-content: end;
        flex-direction: row-reverse;
        align-items: end;
        height: 100%;
    }

        &_logo {
            filter: invert(100%);
            width: 139px;
            height: 27px;

            @media (min-width: 1024px) {
                margin-left: 80px;
            }
        }

        &_list {
            display: flex;
            flex-direction: column;
            gap: 7px;
            list-style: none;
            padding-inline-start: 0;

            @media (min-width: 768px) and (max-width: 1024px) {
                flex-direction: row;
                gap: 20px;
            }

            @media (min-width: 1024px) {
                flex-direction: row;
                align-items: end;
                margin: 0;
                gap: 20px;
            }
            
            &_link {
                color: white;
                font-size: 16px;
                font-weight: 500;

                &_icon {
                    margin-right: 10px;
                }

                &_icon-rotate {
                    transform: rotate(135deg);
                    font-size: 11px;
                    margin-right: 10px;
                }
            }

            &_link-small {
                color: white;
                font-size: 16px;
                font-weight: 400;
            }
        }
    }
}

/* PAGES RESTAURANT */


/* HEADER*/

.header_link {
    position: absolute;
    left: 5%;
    font-size: 20px;
}

/* BANNER */

.banner_img {
    object-fit: cover;
    width: 100%;
    height: 275px;

    @media (min-width: 1024px) {
        height: 380px;
    }
}

/* MENU-APPEAR */

@keyframes menu-appear {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.delay1 {
    animation: menu-appear 3000ms 0ms both ease-in-out;
}

.delay2 {
    animation: menu-appear 6000ms 0ms both ease-in-out;
}

.delay3 {
    animation: menu-appear 9000ms 0ms both ease-in-out;
}

/* MENU */

.menu {
    background-color: $main-color;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    position: relative;
    margin-top: -35px;
    width: 100%;
    padding-bottom: 40px;

    @media (min-width: 768px) and (max-width: 1024px) {
        max-width: 768px;
        margin: auto;
        margin-top: -35px;
    }

    @media (min-width: 1024px) {
        max-width: 1055px;
        margin: auto;
        margin-top: -35px;
    }

    &_header {
        padding-top: 30px;
        padding-left: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (min-width: 768px) and (max-width: 1024px) {
            padding-top: 50px;
            justify-content: center;
            gap: 30px;
        }

        @media (min-width: 1024px) {
            padding-top: 50px;
            justify-content: center;
            gap: 30px;
        }

        &_title {
            font-family: shrikhand;
            font-size: 28px;
            font-weight: 400;
        }

        &_icons {
            @include heart;
            margin-right: 40px;
        }
    }

    &_cards {
        padding-left: 10px;
        padding-right: 10px;

        @media (min-width: 768px) and (max-width: 1024px) {
            max-width: 500px;
            margin: auto;
        }

        @media (min-width: 1024px) {
            max-width: 800px;
            margin: auto;
        }

        &_title {
            font-weight: 300;
            font-size: 16px;
            margin-bottom: 5px;
            margin-top: 40px;           
        }

        &_underline {
            display: block;
            width: 43px;
            height: 3px;
            background-color: $green-color;
        }
    }

    &_card {
        position: relative;
        display: flex;
        justify-content: space-between;
        background-color: white;
        border-radius: 15px;
        box-shadow: 0px 4.01px 15.04px 0px #0000001A;
        margin: 15px 0px;
        height: 70px;
        overflow: hidden;
        animation: itemAppear 500ms ease-in-out;
        animation-fill-mode: forwards;
        cursor: pointer;

        &_content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 15px;
            line-height: 25px;
            white-space: nowrap;
            overflow: hidden;

            &_title {
                font-weight: 500;
                font-size: 18px;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &_subtitle {
                margin: 0;
                font-weight: 300;
                font-size: 15px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        
        &:hover .menu_card_check {
            right: 0;
        }
        
        &:hover .menu_card_price {
            margin-right: 59px;
        }

        &_check {
            position: absolute;
            width: 59px;
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $green-color;
            right: -13rem;
            transition-duration: 1200ms;

            &_icon {
                color: white;
                font-size: 25px;
            }
        }

        &_price {
            display: flex;
            align-items: end;
            font-weight: 700;
            padding-right: 15px;
            padding-bottom: 15px;
            transition-duration: 1200ms;
        }
    }

    &_command {
        display: flex;
        justify-content: center;
        margin-top: 40px;

        &_link {
            @include bouton;
        }
    }
}
